[user]
	name = Morris Chiu
	email = xerviam@icloud.com
[alias]
	co = checkout
	ci = commit
	st = status
	br = branch
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
[init]
	defaultBranch = main
[core]
	excludesfile = ~/.gitignore
